---
import { site } from '@/lib/site';

const isProduction = import.meta.env.PUBLIC_ENVIRONMENT === 'production';
const { meta: customMeta } = Astro.props;

const meta = {
  mainTitle: 'Astro Boilerplate',
  title: null,
  description: 'Astro Boilerplate Description',
  image: 'https://placehold.co/1820x904',
  date: null,
  route: '',
  ...customMeta,
};

let metaTitle = meta.mainTitle;
if (meta.title) {
  metaTitle = `${meta.title} — ${meta.mainTitle}`;
}
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/svg+xml" href={site.favicon} />
<link rel="canonical" href={`${site.url}${meta.route}`} />
<link rel="preconnect" href="https://images.unsplash.com" />
<title>{metaTitle}</title>
<meta name="application-name" content={site.name} />
<meta name="description" content={meta.description} />
<meta name="robots" content="follow, index" />
<meta property="og:url" content={`${site.url}${meta.route}`} />
<meta property="og:type" content={site.type} />
<meta property="og:site_name" content={site.name} />
<meta property="og:description" content={meta.description} />
<meta property="og:title" content={metaTitle} />
<meta property="og:image" content={meta.image} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content={site.twitter} />
<meta name="twitter:title" content={metaTitle} />
<meta name="twitter:description" content={meta.description} />
<meta name="twitter:image" content={meta.image} />
{meta.date && <meta property="article:published_time" content={meta.date} />}

<script is:inline src="/theme.js"></script>

{isProduction && (
  <>
    <script
      is:inline
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-DTSW3J45R4"
    ></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-DTSW3J45R4');
    </script>
  </>
)}